@font-face {
	font-family: merriweather;
	src: url(Merriweather-Regular.ttf);
}

@font-face {
	font-family: cormorant;
	src: url(CormorantGaramond-Light.ttf);
}

* {
	font-family: sans-serif;
	color: #000;
}



/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}


::-webkit-scrollbar-thumb {
	background: #44F;
	border-radius: 5px;
}

body {
	margin: auto;
	height: fit-content;
	width: 100%;
}

.range_tt {
	width: 4em;
	height: 1em;
	background-color: #000;
	color: #FFF;
	position: absolute;
	border-radius: 50% / 100%;
	box-shadow: 0px 0px 5px 2px #5558;
}

button.header_large {
	font-size: 2em;
	float: left;
}

button.header_small {
	font-size: 1.2em;
	
}

button.header_large > span {
	position: relative;
	top: -3vh;
}

#main {
	position: absolute;
	background-colro: transparent;
	
	width: 100%;
	height: 100vh;
}

#MAP {
	width: 40vw;
	aspect-ratio: 1;
	
	position: absolute;
	right: 5vw;
	top: 12.5vh;
	
	border: 3px solid grey;
	box-shadow: 0px 0px 8px #FFFA;
	
}

#SELECTION {
	
	height: 80vh;
	width: 50vw;
	
	position: absolute;
	left: 3vw;
	top: 12.5vh;
	
	
	background-color: #FFFA;
	border-radius: 2% / 3%;
	
	overflow-y: overlay;
	overflow-x: hidden;
}

#FUEL_SELECT {
	margin-top: 1vh;
	padding-bottom: 0.1vw;
	border-bottom: 4px solid #000;
	width: calc(100% - 2vw);
	
	text-align: left;
}

#FUEL_SELECT:nth-child(1) {
	margin-left: 1vw;
}

.fuel_button {
	height: 4vh;
	
	border: none;
	background-color: transparent;
	color: #AAA;
	transition: color 500ms linear;
}

.fuel_button:hover {
	color: #000;
}

.selected_button {
	color: #000;
}

.body_small {
	font-size: 0.9em;
}

.body_mid {
	font-size: 1.1em;
}

.body_large {
	font-size: 2.4em;
}

#FILTER_SELECT {
	margin-top: 5vh;
	width: 80%;
	height: fit-content;
}

input[type=range] {
	width: 70%;
	accent-color: #95AEBA;
	left: 0px;
}



label {
	float: left;
}

select {
	border: none;
	background-color: transparent;
	font-size: 1em;
	padding: 5px;
	
}

option {
	background-color: #FFF;
	
}

#refresh_button {
	width: fit-content;
	height: fit-content;
	border: 2px solid #000;
	background-color: transparent;
	font-size: 1em;
	padding: 5px 10px 5px 10px;
	border-radius: 25% / 50%;

	position: relative;
	left: 20vw;
	top: 1.5vh;
	
	
}

#STATIONS {
	width: calc(100% - 2vw);
	margin-top: 2vh;
	border-top: 4px solid #000;
}

.station_inst {
	margin-top: 10px;
	width: 100%;
	height: fit-content;
	border: 2px solid #000;
}


.station_inst > p.station_name {
	position: relative;
	top: -1vh;
	margin-bottom: 0px;
	font-size: 1em;
}

.cont {
	margin-top: 1px;
}


.cont > p.dist {
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: 0px;
	
}

.station_inst > button {
	background-color: transparent;
	width: fit-content;
	height: fit-content;
	font-size: 1.2em;
	border: none;
}

.cont > p.address {
	font-size: 1em;
	margin-top: 0px;
	
}

@media (max-width: 900px), (device-width: 900px) {
	body {
		height: 100vh;
	}
	
	#MAP {
		left: 0px;
		width: 100vw;
	}
	
	#SELECTION {
		width: 90vw;
		top: 100vh;
	}
	#refresh_button {
		left: 40vw;	
	}
}
